* {
    padding: 0;
    margin: 0;

    font-family: 'Rubik Mono One', sans-serif;

    box-sizing: border-box;
    vertical-align: center;
    align-items: center;
    text-align: center;
}
a {
    margin: 20px;
    text-decoration: none;
    color: #FFFFFF;
}
.head{
    padding-left: 10vw;
    padding-right: 10vw;
    height: 100px;
    background-color: #EA271D;
    color: white;
    font-size: x-large;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    height: 50px;
    padding: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: medium;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 100px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        width: 100vw;
        outline: 3px dashed #EA271D;
        outline-offset: -7px;
        height: 5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu  a{
        display: block;
    }
    .menu > li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em 0;
        width: 100%;
        color: #130202;
        background-color: white;
    }
    .menu > li:hover{
        color: #EA271D;
    }
    a {
        margin: 0;
        color: #130202;
        display: none;
        background-color: #FFFFFF;
    }
}
footer{
    background-color: #EA271D;
}
.f-item-con{
    padding: 30px 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "area1 area2 area3";
    grid-gap: 1vw;
}
footer .app-name{
    color: white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    padding: 0 1vw;
    font-size: x-large;

    grid-area: area1;
}
footer .app-info p{
    color: white;
    padding: 3vw;
    text-align: justify;
}

footer .footer-title{
    color: white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    padding: 0 1vw;
    font-size: x-large;
}
footer .useful-links{
    grid-area: area2;
}
footer ul{
    color: white;
    list-style-type: none;
    padding: 0 1vw;
    font-size: medium;
}
footer ul li{
    cursor: pointer;
    color: white;
    width: fit-content;
}
footer ul li:hover{
    color: #2EAFCF;
}
footer .cr-con{
    background-color: #130202;
    color: white;
    padding: 1vh 1vw;
    text-align: center;
}
.g-i-t{
    display: grid;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    grid-area: area3;
}
.g-i-t form{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
form .g-inp{
    padding: 4px 1vw;
    font-size: 16px;
    width: 90%;
}
#g-msg{
    height: 105px;
}
.zzz{
    background-color: #2EAFCF;
    color: #130202;
    text-align: justify;
}
.f-btn{
    padding: 1vh 1vw;
    background-color: #2EAFCF;
    font-size: 16px;
    color: white;
    font-weight: 500;
    border: 2px white;
}
@media (max-width: 700px){
    .f-item-con{
        grid-template-areas: "area1"
    "area3";
        padding: 30px 2vw;
    }
    .app-info {
        width: 96vw;
    }
    .zzz{
        background-color: #2EAFCF;
        color: #130202;
        text-align: justify;
        display: flex;
    }
    .useful-links{
        display: none;
    }
}
.about{
    margin: 10vh 10vw;
    padding: 5vh 5vh;
    width: 80vw;
    background-color: lightgrey;
    border-radius: 2vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.review{
    background-color: white;
    border-radius: 2vw;
    width: 20vw;
}
.review img{
    width: 20vw;
    transform: scale(1.5);
}
.r-text1{
    border: #EA271D 2px solid;
}
.r-text2{
    padding: 1vw 1vw;
    font-size: x-small;
    text-align: justify;
}
@media (max-width: 700px) {
    .about{
        margin: 2vh 2vw;
        width: 96vw;
        padding: 2vh 2vw;
    }
    .review{
        width: 92vw;
        margin-bottom: 2vh;
    }
}



.panel-container {
    background-color: #2EAFCF;
    border-radius: 2vw;
    font-size: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    max-width: 400px;
    color: #FFFFFF;
    margin: 10vh auto;
}
.panel-container strong {
    font-size: xx-large;
}
.ratings-container {
    display: flex;
    margin: 20px 0;
}
.rating {
    flex: 1;
    cursor: pointer;
    padding: 20px;
    margin: 10px 5px;
}
.rating:hover,
.rating.active {
    border-radius: 2vw;
    border: #FFFFFF 2px solid;
}
.rating img {
    width: 40px;
}
.rating small {
    color: #fff;
    display: inline-block;
    margin: 10px 0 0;
    font-size: xx-small;
}
.rating:hover small,
.rating.active small {
    color: white;
}
.btn {
    color: #000;
    border: 0;
    border-radius: 4px;
    padding: 12px 30px;
    cursor: pointer;
}
.btn:focus {
    outline: 0;
}
.btn:active {
    transform: scale(0.98);
}