* {
    padding: 0;
    margin: 0;

    font-family: 'Rubik Mono One', sans-serif;

    box-sizing: border-box;
    vertical-align: center;
    align-items: center;
    text-align: center;
}
a {
    margin: 20px;
    text-decoration: none;
    color: #FFFFFF;
}
.head{
    padding-left: 10vw;
    padding-right: 10vw;
    height: 100px;
    background-color: #EA271D;
    color: white;
    font-size: x-large;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.dobro{
    padding-left: 0vw;
    padding-top: 100px;
    width: 80vw;
    height: auto;
}
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    height: 50px;
    padding: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: medium;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 100px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        width: 100vw;
        outline: 3px dashed #EA271D;
        outline-offset: -7px;
        height: 5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu  a{
        display: block;
    }
    .menu > li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em 0;
        width: 100%;
        color: #130202;
        background-color: white;
    }
    .menu > li:hover{
        color: #EA271D;
    }
    a {
        margin: 0;
        color: #130202;
        display: none;
        background-color: #FFFFFF;
    }
}
.products{
    padding: 5vh;
}
.product1{
    padding: 2vh;
    margin-left: 10vw;
    margin-right: 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh 10vh;
    grid-template-areas:
        "i1 t1"
        "i1 b1";
    gap: 1vh;
    outline: 3px dashed #EA271D;
    outline-offset: -7px;
}
.img-pr-1{
    grid-area: i1;
    outline: 3px dashed #EA271D;
    outline-offset: -7px;
}
.img-pr-1 img{
    height: 60vh;
    padding: 1.5vh;
}
.text-pr-1{
    grid-area: t1;
    outline: 3px dashed #EA271D;
    outline-offset: -7px;
    padding: 1vh;
    font-size: small;
    text-align: end;
}
.btn-pr-1{
    grid-area: b1;
}
.buy {
    height: 50px;
    width: 200px;
    background: #FFFFFF;
    border: 3px dashed #EA271D;
}
.buy:hover{
    color: gray;
}
@media (max-width: 700px){
    .products{
        padding: 1vh;
    }
    .product1{
        padding: 1vh;
        margin-top: 5vh;
        margin-left: 1vw;
        margin-right: 1vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 51vh 40vh 8vh;
        grid-template-areas:
        "i1"
        "t1"
        "b1";
        gap: 1vh;
        outline: 3px dashed #EA271D;
        outline-offset: -7px;
    }
    .img-pr-1 img{
        height: 50vh;
    }
    .text-pr-1{
        height: 38vh;
        font-size: small;
        text-align: end;
    }
    .buy{
        height: 7vh;
    }
}